[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/SuzukiRyuichiro/hugo-theme-hello-friend-ng.git
[submodule "themes/mdi"]
	path = themes/mdi
	url = https://github.com/SuzukiRyuichiro/hugo-shortcode-mdi.git
