video {
  display: block;
  max-width: 100%;
}

video.left {
  margin-right: auto;
}

video.center {
  margin-left: auto;
  margin-right: auto;
}

video.right {
  margin-left: auto;
}

video.circle {
  border-radius: 50%;
  max-width: 25%;
  margin: auto;
}
